#links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
}
#links a {
    display: inline-block;
    line-height: 0;
}
#links a img {
    display: block;
    transform-origin: center;
}
#links iframe {
    display: block;
}
#about {
    margin: 2em auto;
}
#projects h2 {
    color: #FF00FF;
    text-shadow: 0 0 5px #CCFF00,
        0 0 10px #CCFF00,
        0 0 15px #CCFF00;
}
