body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzNnMGx1OTl6cnVyZjNicGp2Z2s1c3Nxazd0M3lwMTl2NWo2djhmMyZlcD12MV9naWZzX3RyZW5kaW5nJmN0PWc/nNxT5qXR02FOM/giphy.gif);
}