html,
body {
    height: 100%;
    margin: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    flex: 1;
    display: grid;
    place-items: center;
    text-align: center;
}
h1 {
    font-size: 4em;
    font-family: 'jokerman', fantasy;
    color: #00ffe0;
    text-shadow: 2px 2px 4px #00f0ff, 0 0 25px #00ff00, 0 0 9px #00ff00;
}